html, body, main, .pusher {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.main.container {
  margin-top: 2em;
  height: 100%;
}

.hidden.menu {
  display: none;
}
.ui.menu:not(.vertical) .item > .button {
  margin-left: 0.5em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
