
<template name="about">
  <link rel="stylesheet" href="css/about.css">

    <body class="full">
        <div id="center">
            <a href="http://www.rideomnibus.com"><img class="header__logo" src="/assets/img/web-copy.svg"></a>
            <a href="http://www.rideomnibus.com"><img class="mobile__logo" src="/assets/img/Wordmark.svg"></a>
        </div>
        <p class="text" id="center">Omnibus is a mobile app that eliminates transportation uncertainty by showing users where their bus is in real-time. Don&#39;t worry, just ride.</p>
        <p class="text" id="center">We believe riders should have a friendly user experience that allows you to be more efficient with your time and allows you to have ownership over your transportation.</p>
        
        <p class="text" id="center">Follow along as we work to make public transit more accessible!</p>
        <ul>
            <li>
                <a href="http://www.twitter.com/rideomnibus"><img class="social" src="/assets/img/twitter-blue.svg" target="_blank"></a>
            </li>
            <li>
                <a href="http://www.instagram.com/rideomnibus"><img class="social" src="/assets/img/instagram-blue.svg" target="_blank"></a>
            </li>
            <li>
                <a href="http://www.facebook.com/rideomnibus"><img class="social" src="/assets/img/facebook-blue.svg" target="_blank"></a>
            </li>
            <li>
                <a href="mailto:contact@rideomnibus.com?Subject=Hi%20Team%20Omnibus!" target="_top"><img class="social" src="/assets/img/mail-blue.svg"></a>
            </li>
        </ul>
    </body>

</template>
